.todo-input-wrapper {
  position: relative;
  border-bottom: 3px solid #ededed;
}

.todo-input {
  font-family: 'Indie Flower', cursive;
  padding: 16px 16px 16px 50px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  width: 100%;
  font-size: 28px;
  font-style: italic;
  box-shadow: inset 0 -2px 40px rgba(0,0,0,0.03);
}

.todo-input__mark {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%) scaleX(1.5) rotate(180deg);
  left: 20px;
  opacity: .3;
  cursor: pointer;
}

.todo-input__mark--plus {
  transform: translateY(-50%) scale(1.3) rotate(0deg);
}
.todo-input__mark--plus:hover {
  opacity: .7;
  transition: opacity 0.2s ease-in;
}

.todo-input::-webkit-input-placeholder {
  font-family: 'Indie Flower', cursive;
}
.todo-input::-moz-placeholder {
  font-family: 'Indie Flower', cursive;
}
.todo-input:-moz-placeholder {
  font-family: 'Indie Flower', cursive;
}
.todo-input:-ms-input-placeholder {
  font-family: 'Indie Flower', cursive;
}
